@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  height: 100vh;
  background-color: #e5e5e5;
}

.main {
  display: flex;
  height: 100vh;
  gap: 5px;
}

.direita {
  display: flex;
  flex: 2;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: space-around;
  padding: 30px;
  gap: 30px;
}

textarea {
  display: flex;
  width: 680px;
  height: 100%;
  margin-left: 90px;
  border: 0 none;
  background-color: #e5e5e5;
  resize: none;
}
textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
textarea::placeholder {
  font-family: inter;
  font-size: 32px;
  color: #0a3871;
}

.botao {
  display: flex;
  flex: 1;
  justify-content: space-around;
  width: 680px;
  height: 80px;
  align-items: flex-end;
  margin-left: 80px;
}

.observacao {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 100px;
  margin-bottom: -16px;
}

.botao-criptografar {
  width: 300px;
  height: 60px;
  background-color: #0a3871;
  color: #fff;
  border: 1px solid #0a3871;
  border-radius: 24px;
  font-family: inter;
  font-size: 16px;
  cursor: pointer;
}

.botao-descriptografar {
  width: 300px;
  height: 60px;
  background-color: #d8dfe8;
  color: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  font-family: inter;
  font-size: 16px;
  cursor: pointer;
}

.esquerda {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 400px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.imagem {
  width: 336px;
  height: 304px;
}

.paragrafos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  word-wrap: break-word;
}

.p1 {
  font-family: inter;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2em;
}

.p2 {
  font-family: inter;
  font-size: 16px;
  line-height: 1.4em;
}
