@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


.container{
    display: flex;
    flex: 1;
    height: 100vh;
    background-color: #E5E5E5;
   
}

.sessao-direita{
  
    flex: 1.5;
    padding: 30px;
    display: flex;
    flex-direction: column;


}


.area{
  width: 680px;
  height: 48px;
  margin: 30px;
  font-family: inter;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  background-color: #E5E5E5;
 


}

#placeholder-text::placeholder {
    color: #0A3871;
    font-size: 32px;
}


.container-botao{
  
    display: flex;

    align-self: center;
   

}
.botao-cripto{
    margin: 24px;
    width: 328px;
    height: 67px;
    background-color: #0A3871;
    color: #E5E5E5;
    font-size: 24px ;
    border-radius: 24px;
    border: 1px solid #0A3871;

}

.botao-descripto{
    margin: 24px;
    width: 328px;
    height: 67px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 24px ;
    border-radius: 24px;
    border: 1px solid #0A3871;


}
.sessao-esquerda{
    padding: 30px;
    display: flex;
    flex: 1;
    align-items: center;
   
}

.card-img{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 918px;
    background-color: white;
    justify-content: center;
    align-items: center;
  
}

.imagem{
    width: 336px;
    height: 304px;
}

.mensagens{
    width: 405px;

    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    
}
.p1{
    display: flex;  
    font-family: inter;
    font-size: 24px;
    font-weight: bold;
    color: #343A40;

}

.p2{
    font-family: inter;
    font-size: 16px;
    margin: 10px;
    text-align:left;
}